@import "../../assets//scss//variables.scss";

.CartItem {
  display: flex;
  width: 100%;
  background-color: white;
  margin: 12px auto;
  padding: 1rem;
  border-radius: 7px;

  align-items: center;
  &__Img {
    width: 15%;
    height: 15%;
  }
  &container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 1.5rem;
    &heading {
      font-weight: 800;
    }
    &qtybtn {
      margin: 0.8rem 0;
      display: flex;
      font-weight: 600;
      align-items: center;
      position: relative;
    }
  }
}

@media (max-width: $size__site_content_width) {
  .CartItem {
    padding: 0.5rem;
    &__Img {
      width: 11%;
    }
  }
}

@media (max-width: $size__tablet_width) {
  .CartItem__Img {
    width: 17%;
  }
}